@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&family=Noto+Sans+Arabic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Arabic", sans-serif;
}

body {
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full viewport height */
    background-color: #f0f8ff; /* Light blue color */
    font-family: Arial, sans-serif; /* Set a default font */
    height: 3000px;
    background-color: rgba(255, 183, 229, 0.79);
}

.besmallh, h2 {
    font-size: 15px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    direction: rtl;
    font-size: 12px;
    padding: 5px;
}

table {
    width: 80%;
    border-collapse: collapse; /* Merge borders */
    margin: 0 auto; /* Center the table */
    font-size: 15px;
    margin-bottom: 50px;
}
th, td {
    border: 2px solid #000000; /* Border for cells */
    padding: 10px; /* Padding inside cells */
    text-align: center; /* Center text */
}
th {
    background-color: #181bd6; /* Green background for headers */
    color: white; /* White text for headers */
}
tr {
    background-color: #9790cb; /* Light gray background on hover */
    font-weight: bold;
}

.aaa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aa1, .aa2 {
    margin: 10px;
}

.vvv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.vv {
    margin: 20px;
    width: 300px;
}

.partsbut {
    background-color: #351dec;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
}

.partsbut:hover {
    opacity: 0.7;
}

.butns {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.vvvb {
    margin: 40px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    direction: rtl;
    background-color: #f0c63e;
    width: 85%;
    border-radius: 25px;
    font-size: 12px;
}

li {
    list-style-type: none; /* Remove default list style */
}
li::before {
    content: "• "; /* Add your custom bullet */
    margin-right: 0; /* No space between bullet and text */
}
